
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>





<!-------------------------------------------------------------------------------------------------->

<!-- Data Binding Interpolation -->
<h3>Hello {{name}} </h3>

<!-- Property Binding -->
<input type="text" [value]="userName">
<br>
<img [src]="img" [style.display]="titleStyle">
<br>
<button (click)="show()">show</button>
<button (click)="Hide()">Hide</button>
<!-- Event Binding -->
<h1>{{number}}</h1>
<button (click)="inc()">Increment</button>
<button (click)="dec()">Decreament</button>
<!-- Two-way data binding -->
 <!-- if we use two way binding we must import form module in app.module.ts first -->
 <!-- here if we change value of number both we change input value and number  -->
<input type="text" [(ngModel)]="number">
<!-------------------------------------------------------------------------------------------------->
<!-- Directives  -->
<!-- 1- Structural directives (ngIf ,ngSwitch, ngFor) -->

 <!-- don't show paragraph if showText variable is false  -->
<p *ngIf="showText">Welcome Mahmoud</p>

<p *ngIf="x===y"> show if x == y</p>

<p>ngIfElse example!</p>
<div *ngIf="isLogIn; else isLogOut">
   Hello you are logged in
</div>
<ng-template #isLogOut>
   You're logged out..
</ng-template>


<h3>ngFor directive</h3>
<ul>
   <li *ngFor="let l of list ;index as i">
      {{l}}   "index --> "{{i}}
   </li>
</ul>


<h3>ngSwitch directive</h3>
<ul [ngSwitch]="logInName">
   <li *ngSwitchCase="'user'">
      <p>User is logged in..</p>
   </li>
   <li *ngSwitchCase="'admin'">
      <p>admin is logged in</p>
   </li>
   <li *ngSwitchDefault>
      <p>Please choose login name</p>
   </li>
</ul>

<!-- 2- non Structural directives (ngStyle ,ngClass ) -->
<p [ngClass]="'title'">Welcome non Structural directives ngClass </p>


<p [ngStyle]="{'color':paraStyle}"> Welcome non Structural directives ngStyle</p>



<!--------------------------------------------------------------------------------------------->
<!-- Pipes  -->
<!-- Pipes are referred as filters. It helps to transform data and manage data within interpolation,
  denoted by {{ | }}. It accepts data, arrays, integers and strings as inputs which are separated by ‘|’ symbol.
  This chapter explains about pipes in detail. -->

  <!-- transform property name to uppercase -->
  <p>{{name|uppercase}}</p>

  <div>
    short date :- {{presentDate | date:'shortDate' }} <br/>
    Full date :- {{presentDate | date:'fullDate' }} <br/>
    Formatted date:- {{presentDate | date:'M/dd/yyyy'}} <br/>
    Hours and minutes:- {{presentDate | date:'h:mm'}}
 </div>

 <div>
  Date with uppercase :- {{presentDate | date:'fullDate' | uppercase}} <br/>
  Date with lowercase :- {{presentDate | date:'medium' | lowercase}} <br/>
</div>

<!--------------------------------------------------------------------------------------------->
<!-- Angular Routing  -->

<!-- Routing in Angular allows the users to create a single-page application with multiple views
   and allows navigation between them. Users can switch between these views without losing the application state and properties. -->

   <!-- Approach:
   Create an Angular app that to be used.
   Create the navigation links inside the app component and then provide the “routerLink” directive to each route and pass
   the route value to “routerLink” directive.
   Then add the routes to the routing.module.ts file and then import the routing.module.ts into the app.module.ts file. -->


    <!-- Routing Parameters -->
    <!-- go to about.ts to receive the params  -->
    <li><a routerLink="/about/{{name}}/138" >About Us</a></li>
   <router-outlet></router-outlet>

   <!-- routing with query params -->
   <li><a routerLink="/footer" >Footer</a></li>


<!--------------------------------------------------------------------------------------------->
<!-- To call another component -->
<!-- <app-home></app-home>
<app-about></app-about> -->
